<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.pandown.dao.mapper.PandownUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pan.pandown.dao.entity.PandownUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, email, avatar
    </sql>

    <select id="selectByUserName" resultType="com.pan.pandown.dao.entity.PandownUser">
        SELECT * FROM pandown_user WHERE username=#{username}
    </select>

    <select id="selectByEmail" resultType="com.pan.pandown.dao.entity.PandownUser">
        SELECT * FROM pandown_user WHERE email=#{email}
    </select>

    <select id="getUserInfoById" resultType="java.util.Map">
        SELECT u.id,u.username,u.email,u.avatar,r.role_name FROM `pandown_user`AS u
        INNER JOIN `pandown_user_role` AS ur ON u.id = ur.user_id
        INNER JOIN `pandown_role` AS r ON ur.role_id = r.id
        WHERE u.id = #{id};
    </select>

    <select id="getPermissionsByUserId" resultType="java.lang.String">
        SELECT code FROM pandown_permission WHERE id IN (
            SELECT permission_id FROM pandown_role_permission WHERE role_id = (
                SELECT role_id FROM  pandown_user_role WHERE user_id = #{id}
            )
        )
    </select>
    <select id="pageListUserInfo" resultType="com.pan.pandown.util.PO.PandownUserDetailPO">
        SELECT u.id,u.username,u.email,uf.parse_num,uf.parse_flow,uf.limit_flow,uf.state,r.role_name FROM `pandown_user` AS u
        INNER JOIN `pandown_user_flow` AS uf ON u.id = uf.id
        INNER JOIN `pandown_user_role` AS ur ON u.id = ur.user_id
        INNER JOIN `pandown_role` AS r ON ur.role_id = r.id
    </select>

</mapper>
